//Global Css Here
.custm-color-link {
    color: #03FFB3!important;
}

.custom-margin {
    margin-bottom: 40px;
}

.custm-mini-button {
    width: max-content;
    text-align: center;
    color: #000000 !important;
    background: #03FFB3;
    border-radius: 6px;
    letter-spacing: normal;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 6px 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 20px 0px rgb(131 100 226 / 0%);
    transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff !important;
}

.cursor-pointer {
    cursor: pointer;
}

// Hero Section Code Here
.hero-section {
    color: #E7E9EB;
}

.cutm-minus-margin {
    margin-top: -20px;
}

// Header and Footer Input Field Search Perpuss
#quick_search::placeholder,
#txt_subscribe::placeholder {
    color: #fff;
}

//New Items Section Css 
.nft__item_like span {
    color: #ffffff;
}

.nft__item_price {
    color: #fff;
}

.nft__item_info h4 {
    cursor: pointer;
    line-height: 28px;
    color: #E7E9EA;
}

//Footer Part Css Here
.custon-color-whilte-footer {
    color: #fff;
}

//Register Page
.custom-link-btn {
    color: #03FFB3;
}

.cutom-p {
    color: #fff;
    margin-top: 8px;
}

// Edit profile page
.form-control {
    background-color: #fff!important;
}

.profileBtn {
    text-align: center;
    color: #000000 !important;
    background: #03FFB3;
    border-radius: 6px;
    letter-spacing: normal;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 14px;
    border: none;
    transition: all 0.3s ease;
}

.profileBtn:hover {
    color: #000000 !important;
    background: #03FFB3!important;
}

.icon-space {
    margin-left: 5px;
}

// Header nav
.line-none {
    border-bottom: 0px!important;
}

.profile-dropdown {
    position: absolute;
    left: -120px!important;
}

//password field set icon related work
.onoff-icon {
    display: flex;
}

.onoff-icon .fa {
    position: absolute;
    margin-left: -26px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}