.hero-section {
    color: #E7E9EB;
}

.custm-color-link {
    color: #03FFB3!important;
}

.custon-color-whilte-footer {
    color: #fff;
}

#quick_search::placeholder,
#txt_subscribe::placeholder {
    color: #fff;
}